In [1]:
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
a1=open('a1.txt')
b1=a1.read()

In [4]:
b1

'my name is puneet\ni study at iit bombay'

In [19]:
a2=open('a2.txt')
b2=a2.read()

In [20]:
a3=open('a3.txt')
b3=a3.read()

In [21]:
corpus=[b1,b2,b3]

In [22]:
vectorizer=CountVectorizer()

In [23]:
x=vectorizer.fit_transform(corpus)

In [10]:
x

<3x8 sparse matrix of type '<class 'numpy.int64'>'
	with 24 stored elements in Compressed Sparse Row format>

In [16]:
import pandas as pd

In [24]:
df=pd.DataFrame(data=x.toarray(),columns=[vectorizer.get_feature_names()])

In [25]:
df

,15,at,become,best,bombay,day,deep,engineer,every,hrs,...,my,name,puneet,study,than,the,to,will,work,world
0,0,1,0,0,1,0,0,0,0,0,...,1,1,1,1,0,0,0,0,0,0
1,0,0,1,1,0,0,1,1,0,0,...,0,0,0,0,0,2,0,1,0,1
2,1,0,1,1,0,1,0,0,1,1,...,0,0,0,0,1,0,1,1,1,0