In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
a1=open('a1.txt')
b1=a1.read()

In [3]:
a2=open('a2.txt')
b2=a2.read()

In [4]:
a3=open('a3.txt')
b3=a3.read()

In [5]:
corpus=[b1,b2,b3]

In [6]:
vectorizer=TfidfVectorizer()

In [7]:
corpus=[b1,b2,b3]

In [8]:
vectorizer=TfidfVectorizer()

In [10]:
x=vectorizer.fit_transform(corpus)

In [11]:
import pandas as pd

In [13]:
df=pd.DataFrame(data=x.toarray(),columns=vectorizer.get_feature_names())

In [14]:
df

,15,at,become,best,bombay,day,deep,engineer,every,hrs,...,my,name,puneet,study,than,the,to,will,work,world
0,0.0000,0.353553,0.000000,0.000000,0.353553,0.0000,0.000000,0.000000,0.0000,0.0000,...,0.353553,0.353553,0.353553,0.353553,0.0000,0.000000,0.0000,0.000000,0.0000,0.000000
1,0.0000,0.000000,0.232118,0.232118,0.000000,0.0000,0.305207,0.305207,0.0000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.0000,0.610415,0.0000,0.232118,0.0000,0.305207
2,0.3205,0.000000,0.243748,0.243748,0.000000,0.3205,0.000000,0.000000,0.3205,0.3205,...,0.000000,0.000000,0.000000,0.000000,0.3205,0.000000,0.3205,0.243748,0.3205,0.000000